body {
	background-color: transparent;
	font-size: 1.1em;
}
ul{
	list-style-type: none;
	padding: 0;
}
li{
	padding:0;
	margin: 0;
}
.closed {
	display: none;
}

.action-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.hoverable:hover{
	cursor: pointer;
}

.action-holder{
	margin: 3px 0.8rem;
}

.interactor-actions {
	margin-left: 1rem;
}

.inside-interactor-button{
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	margin-left: 0.5rem;
	background-color: var(--vscode-input-background);
	margin-top: 5px;
	margin-bottom: 5px;
}

.fa-angle-down {
	margin:0 5px;
	transition: all 0.5s ease-in-out;
}

.fa-angle-down.opened {
	transform: rotate(-180deg);
  }

