.dropdown-outside{
    margin: 0;
    background-color: inherit;
    filter: brightness(150%);
    padding: 0;
};

.dropdown-items{
    display: none;
}

.dropdown-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-icon {
    transition: all 0.5s ease-in-out;
}

.dropdown-icon.opened{
    transform: rotate(-180deg);
}

.total-number{
    margin-right: 0.5rem;
}

h3{
    font-size: small;
}