button{
  padding: 10px;
  margin: 10px auto;
  position: relative;
}

button:hover {
  cursor: pointer;
  background-color: rgb(96, 125, 194);
}

.info-icon{
    position: absolute;
    right: 5%;
    font-size: large;
}

.info{
  text-align: left;
}
